:root {
    
    --primary-color:#5748D3;
    --primary-color-900:#2B2469;
    
    --neutral-color:#F2F2F2;
    --neutral-color-300:#C0C0C1;
    

    --support-color-700: #2F3050;
    --support-color-800:#292A44;
    --support-color-900:#26273B;
    
}