* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1B1B26;
}

::-webkit-scrollbar-thumb {
    background:#515151;
    border-radius: 100px;
}




a,
p,
h1,
h2,
h3,
h4,
h5,
h6, 
ol,
span:not(.introduction__title__gradient){
    color:var(--neutral-color);
    font-size:18px;
}
body {
    font-family: 'Poppins', sans-serif;
}


li, 
ul {
    list-style: none;
}
ol li{
    list-style-type: decimal;
}
a {
    text-decoration: none;
}

html {
 scroll-behavior:smooth ;   
}