* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6, 
span:not(.introduction__title__gradient){
    color:var(--neutral-color);
    font-size:18px;
}
body {
    font-family: 'Poppins', sans-serif;
}

li, 
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

html {
 scroll-behavior:smooth ;   
}