/* 23243D  bloco list element*/


.main-header {
    background: #26273B;
    padding:70px 70px 0 70px;
    display:flex;
    justify-content: space-between;
}

.main-header ul {
    display: flex;
    gap:24px;
}
.main-header li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}
.header__exit a {
    display: flex;
    align-items: center;
    margin-bottom:48px;
}
.main {
    background: linear-gradient(124.74deg, #1B1B26 26.29%, #171A3A 148.74%);
    height: 100%;
    margin-bottom:20px;
}
body {
    background: linear-gradient(124.74deg, #1B1B26 26.29%, #171A3A 148.74%);
}
.chapter__title {
    font-size:30px;
    width:250px;
    margin-bottom:26px;
}
.chapter__cover {
    position:relative;
    top:120px;
    right:100px;
}

.main {
    padding:70px;
    display:flex;
    justify-content: space-between;
}
.aside__title {
    margin-bottom:40px;
}
.aside__list {
    display: flex;
    flex-direction: column;
    gap:18px;
}
.active {
    background-color: #23243D;
    
}
.aside__list li a {
    display: flex;
    gap:16px;
    max-width:268px ;
    width: 100%;
    border-radius: 8px;
    padding:10px;
    align-items: center;
    cursor: pointer;
    
}
.list-element__number span {
    width:40px;
    display: flex;
    justify-content: center;
    align-items:center;
    height:40px;
    border-radius: 50%;
    background-color: #26273B;
}
.list-element__text span  {
    color:#4A4B6B;
    font-size: 14px;
    margin-top:4px;

}
.list-element__text {
    margin-right:40px;
    
}
.list-element__text h4 {
    font-size: 15px;
}
.text {
    position:relative;
    right:95px;
    top:70px;
}
.text h1 {
    font-size: 24px;
    margin-bottom: 12px;
}
.text__paragraph {
    width: 787px;
    font-size: 16px;
    color:#C0C0C1;
    line-height: 21px;
    margin-bottom: 28px;

}
.mark {
    color:#E1E1E2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.mark::before {
    content: "";
    display: inline-block;
    height:70px;
    margin-right: 12px;
    width:12px;
    background-color: #5748D3;
}

.olist {
    margin-left:20px;
}
.olist li{
    margin-top:15px;
}
.olist ul {
    margin-left:20px;
}
.olist ul li {
    list-style: disc;
}

.margin-add {
    margin-top:28px;
    font-weight: 800;

}
.fixacao{
    margin-top:20px;
}

.next-chapter-button {
    background-color:#23243D;
    border:none;
    color:#fff;
    font-size:16px;
    padding:10px 20px;
    margin-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-radius: 8px;
}
.next-chapter-button img {
    rotate: 180deg;
}